*, *::before, *::after {
	box-sizing: border-box;
}

button::-moz-focus-inner {
	border: none;
}

button {
	cursor: pointer;

	// to make the same in Chrome and Firefox
	border-style: solid;
	border-color: $uniform-button-shadow;

	&:disabled {
		cursor: not-allowed;
		color: $button-disabled-text-color;
	}

	// reset for Firefox
	&:active:hover {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.show {
	display: unset !important;
}

.hidden {
	display: none !important;
}

.visible {
	visibility: visible !important;
}

.invisible {
	visibility: hidden !important;
}

.transparent {
	opacity: 0 !important;
}

// added dynamically to cancel a transition in progress
.no-transition {
	transition: none !important;
}

@function strip-units($value) {
	@return $value / ($value * 0 + 1);
}

@function dashlist($len, $parts: 60) {
	$dashL: $len/$parts;
	$l: ();

	@for $i from 1 through $parts {
		$l: join($l, $dashL * 0.6 $dashL * 0.4);
	}

	@return $l;
}

@function raisedshadow($xFactor: 0, $yFactor: 1) {
	@return $xFactor*3px $yFactor*3px 5px 0 rgba(0, 0, 0, 0.2), $xFactor*3px $yFactor*5px 10px 0 rgba(0, 0, 0, 0.247059), $xFactor*3px $yFactor*20px 20px 0 rgba(0, 0, 0, 0.14902);
}
