$central-blocks-relative-size: 50;
$central-blocks-max-size: 400px;
$tomato-font-size: 3em;
$tomato-timer-font-size: 2.5em;
$seconds-left-radius: 51;

$tomato-text-color: white;
$tomato-minutes-color: #c8b9b9;
$tomato-secondsleft-color: #A59C7D;

$body-color: #DA2222;
$head-title-color: #FBE2E2;
$timingControls-color: #DC2C2C;
$timingControls-text-color: white;

$panel-color: #DC2C2C;
$panel-border-color: #DEBA89;
$panel-button-color: #E43535;

$button-disabled-text-color: #808080;
$timing-button-disabled-color: #D63E3E;

$general-text-color: wheat;
$general-shadow-and-border-color: gray;
$uniform-button-shadow: gray #2C2C2C #2C2C2C gray;
