*, *::before, *::after {
	box-sizing: border-box;
}

button::-moz-focus-inner {
	border: none;
}

$relative-size: 50;
$max-size: 400px;
$tomato-font-size: 3em;
$tomato-timer-font-size: 2.5em;
$seconds-left-radius: 51;

$body-color: #DA2222;

@function strip-units($value) {
	@return $value / ($value * 0 + 1);
}

@function dashlist($len, $parts: 60) {
	$dashL: $len/$parts;
	$l: ();

	@for $i from 1 through $parts {
		$l: join($l, $dashL * 0.6 $dashL * 0.4);
	}

	@return $l;
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// background-color: $body-color;
}

.controls, .controls > div, .tomatoTimer, .progressBar {
	border: 1px solid gray;
}

.controls {
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: $relative-size * 1%;
	max-width: $max-size;

	%button {
		width: 40px;
		height: 30px;
		font-size: 1.5em;
		text-shadow: 0 1px gray;
		outline: none;
		background-color: #FD6639;
	}

	button.plus {
		@extend %button;
		border-radius: 50% 50% 0 0;
		box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119), 0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119), 0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119), 0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039), 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059), 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);

		&:focus {
			box-shadow: none;
			// FIXME
		}
	}

	button.minus {
		@extend %button;
		border-radius: 0 0 50% 50%;
	}

	> div:last-child {
		float: right;
	}
}

.tomatoTimer {
	width: $relative-size * 1%;
	// vw keeps height dependent on width (rectangular)
	height: $relative-size * 1vw;
	max-width: $max-size;
	max-height: $max-size;
	min-width: 5 * $tomato-font-size;
	min-height: 5 * $tomato-font-size;
	border-radius: 50%;
	background-color: red;
	position: relative;
	box-shadow: 0 0 10px 5px #555;
	transition: box-shadow 2s, transform 2s;

	&:active {
		box-shadow: none;
		transform: scale(.99, .99);
		transition: box-shadow .5s, transform .5s;
	}

	p {
		text-align: center;
		font-size: $tomato-font-size;
		color: white;

		&.session {
			position: absolute;
			left: 0;
			right: 0;
		}

		&.seconds {
			position: absolute;
			bottom: 5%;
			left: 0;
			right: 0;
			transform: translateX(-1.5%);
			margin: 0;
			visibility: hidden;

			@at-root .tomatoTimer:hover .seconds {
				visibility: visible;
			}
		}
	}

	.svgSpace {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		svg {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			overflow: visible;

			.all-tomato {
				clip-path: url(#clipPath);
			}

			> text {
				font-size: $tomato-timer-font-size;

				/* 1rem = 16px; */
				$stroke-dArr: strip-units($tomato-timer-font-size) * 220;
				stroke-dasharray: $stroke-dArr $stroke-dArr;
				text-anchor: middle;
				dominant-baseline: central;
				fill: none;
				stroke: #c8b9b9;
				stroke-width: .7;

				transition: stroke-dashoffset 1s linear;
				&.changing {
					stroke-dashoffset: $stroke-dArr;
					transition: stroke-dashoffset 2s linear;
				}
			}

			> #secondsLeft {
				// r: $seconds-left-radius * 1%;
				$darr: round($seconds-left-radius * 6.285714286);
				stroke-dasharray: dashlist($darr) $darr;
				stroke: #c11f1f;
				stroke-width: 2;
				fill: none;
				visibility: hidden;

				@at-root .tomatoTimer:hover .svgSpace svg > #secondsLeft {
					visibility: visible;
				}
			}
		}
	}
}
