@import "variables";
@import "globalstyles";

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: $body-color;
}

.wrapper {
	height: 100%;
	width: 100%;
	min-height: inherit;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: opacity 1s;
}

.headTitle {
	font: 3rem Pacifico, sans-serif;
	color: $head-title-color;
	text-align: center;
	margin-top: 0;
}

@import "partials/checkboxes", "partials/icons", "partials/progressbar", "partials/audiocontrols", "partials/panels", "partials/timingcontrols", "partials/tomatotimer", "partials/hiddenprogress";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

.pauseControls {
	position: relative;

	> .gitLink {
		position: absolute;
		top: 4px;
		right: 4px;

		> img {
			width: 25px;
		}
	}
}
