- const defaults = {}

- const checkMap = new Map()
- checkMap.set("icon-volume", {on: true, tooltip: "Sound on session end"})
- checkMap.set("icon-clock-seconds", {on: false, tooltip: "Display seconds perimeter"})
- checkMap.set("icon-clock-filled", {on: true, tooltip: "Display tomato"})
- checkMap.set("icon-progress", {on: false, tooltip: "Display progressbar"})

- defaults.checkboxes = checkMap
- defaults.workTime = 25
- defaults.breakTime = 5
