extend partials/layout

block content
	h2 Pomodoro start
	.controls
		.workTimer
			p Work Length
			button.plus(type="button", ) +
			p.time 5
			button.minus(type="button", ) -
		.breakTimer
			p Break Length
			button.plus(type="button", ) +
			p.time 5
			button.minus(type="button", ) -
	
	.tomatoTimer
		.svgSpace
		p.title Session
		p.time 25
		
	.progress
		progress(value="50", max="100") 50%
	
	
