$groove-color: #DA3939 !default;
$groove-border-colors: #a42d00 #b99696 #b99696 #a42d00;

.panel.audioControls {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 40% 10px 20px 10px / 30% 10px 20px 10px;
	padding: 8px 0 8px 8px;
	text-shadow: none;
	box-shadow: raisedshadow(-3, -0.7);

	@media screen and (max-width: 630px) {
		position: static;
	}

	.upper-subpanel {
		display: flex;
		align-items: center;
	}

	input {
		display: block;
	}

	input[type="file"] {
		display: none;
	}

	.lower-subpanel {
		background-color: $groove-color;
		border-radius: 0 0 10px;
		padding: 10px;
		margin: 0 22px 22px 0;
		border-width: 4px 2px 2px 4px;
		border-color: $groove-border-colors;
		border-style: solid;
	}

	button {
		text-shadow: 0 1px $general-shadow-and-border-color;
		outline: none;
		background-color: #DB2D2D;
		color: inherit;
		border-radius: 6px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.247059), 0 0 7px rgba(0, 0, 0, 0.14902);
		height: 28px;
		width: 102px;

		&:active:not(:disabled), &:active:focus:not(:disabled) {
			box-shadow: none;
			border: 1px solid $general-shadow-and-border-color;
		}

		&:disabled {
			background-color: $timing-button-disabled-color;
		}
	}
}

.speaker {
	border-radius: 50%;
	box-shadow: 0 0 12px 6px $general-shadow-and-border-color, inset 0 0 4px $general-shadow-and-border-color;
	background-color: white;
	margin: 0 10px;
	pattern {
		stroke-width: 0.45;
	}

	@media screen and (min--moz-device-pixel-ratio: 0) {
		pattern {
			stroke-width: 0.25;
		}
	}
}

.speaker-container {
	position: relative;

	&::before {
		position: absolute;
		font-size: 8em;
		content: "";
		text-align: center;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		pointer-events: none;
		color: rgba(0, 0, 0, 0.48);
	}

	.panel:hover &::before {
		content: "‣";
		font-size: 8em;
	}
	.panel:hover &.playing::before {
		content: "❚❚";
		font-size: 3em;
		transform: translate(-50%, -60%);
	}

	&.error::before {
		content: "Error" !important;
		font-size: 2.5em !important;
		font-weight: bold;
	}
}

.slider {
	display: inline-block;
	text-align: center;
	background-color: $groove-color;
	transform: translateY(4px);
	border-width: 2px;
	border-color: $groove-border-colors;
	border-style: solid solid none;
}

.vert {
	display: inline-block;
	writing-mode: vertical-lr;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	width: 22px;
}

.corner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;

	> text {
		font-size: 0.6em;
		fill: currentColor;
		letter-spacing: 0.2px;
		word-spacing: 3px;
		display: none;

		.panel.default-sound:hover & {
			display: unset;
		}
	}
}

.dropzone {
	opacity: 0.5;

	&::after {
		position: absolute;
		content: "DROP HERE";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
		font-size: 3em;
		font-weight: bold;
	}
}

input[type="range"][orient="vertical"] {
	writing-mode: bt-lr;

	/* IE */
	-webkit-appearance: slider-vertical;

	/* WebKit */
	width: 8px;
	height: 100px;
	padding: 0 15px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-moz-focus-outer {
	outline: none;
	border: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	border: 2.5px solid $general-shadow-and-border-color;
}

input[type=range]::-webkit-slider-thumb {
	cursor: pointer;
	margin-left: -10px;
	box-shadow: inset 0 0 10px 2px $general-text-color, 0 0 3px 2px $general-shadow-and-border-color;
}

input[type=range]:active::-webkit-slider-thumb {
	box-shadow: none;
}

input[type=range]::-moz-range-track {
	cursor: pointer;
	background: $general-shadow-and-border-color;
	border-radius: 1.2px;
	border: 1px solid $general-shadow-and-border-color;
}

input[type=range]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border: 1px solid $general-shadow-and-border-color;
	border-radius: 50%;
	background: $general-text-color;
	cursor: pointer;
	box-shadow: 0 0 3px 2px $general-shadow-and-border-color;
}

input[type=range]:active::-moz-range-thumb {
	box-shadow: none;
	background: #d5c19c;
}
